<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <link rel='stylesheet' type='text/css' href='/stylesheets/homePageStyle.css'>
  </head>

  <body>
    <!-- HEADER -->
    <div class="header">
      <div class="headerInner">
        <img src="/Images/ourLogo.png" alt="logo" class="logo" >
      </div>
    </div>

    <!-- NAV BAR -->
    <div class="navbar">
      <a href="/home">Home</a>
      <a href="/Courses">My Courses</a>
      <a href="/signOut" class="right">Sign Out</a>
      <a href="" class="right">My Account</a>
    </div>


    <div class="post">
      <h2>Post Name</h2>
      <p class ="post">this is the text of the post and blah blah blah blah blah blah blah blah blahblah blah blahblahblah blah blahblah blah blahblah blah blahblah blah blahblah blah blahblah blah blahblah blah blahblah blah blahblah blah blah</p>
    </div>
    <textarea class="txtarea" cols="50" rows="5">
        text box with padding and margin inside a fixed width div.
        how do I made the text box auto-fit nicely inside the div?
      </textarea>
  </body>

</html>
<button type="button">Post</button>

</body>
</html>
