<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <link rel='stylesheet' type='text/css' href='/stylesheets/forumPageStyle.css'>
  </head>
  <body>

    <!-- HEADER -->
    <div class="header">
      <div class="headerInner">
      	<img src="/Images/ourLogo.png" alt="logo" class="logo" >
			</div>
      <div class="headerInner" style="width: 100%;">
      <h1>Welcome To the home page {{ yourName }} </h1>
      <p>This is where you can find any new notifications {{ yourTest }} </p>
      </div>
    </div>

    <!-- NAV BAR -->
    <div class="navbar">
      <a href="/home" class="active">Home</a>
      <a href="/Courses">My Courses</a>
      <a href="/signOut" class="right">Sign Out</a>
      <a href="" class="right">My Account</a>
    </div>

    <!-- Main data for the page -->
    <div class="main">
      <!-- Write all main code here -->
      <a><b>Your notifications</b></a>
      <div class="courses">
        <p class ="courseContent">No new notifications</p>
      </div>
    </div>

    <!-- FOOTER -->
    <div class="footer">
      <h9>Gearoid & Aaron's footer</h9>
      <p><br><br>Gearoid H:</p>
      <p>Contact information: <a href="mailto:test@gmit.ie">test@gmit.ie</a></p>
      <p><br><br>Aaron McK:</p>
      <p>Contact information: <a href="mailto:test@gmit.ie">test@gmit.ie</a></p>
    </div>

  </body>
</html>
