.img-Container{
  text-align: center;
  display: block;
  margin-top: 50px;
}

.redText
{
    color: red;
}

.sign {
  max-width: 100%;
  height: auto;
}

.login-form {
  width: 300px;
  margin: 0 auto;
  font-family: Tahoma, Geneva, sans-serif;
}
.login-form h1 {
  text-align: center;
  color: #4d4d4d;
  font-size: 24px;
  padding: 0px 0 20px 0;
}
.login-form input[type="password"],
.login-form input[type="text"] {
  width: 100%;
  padding: 15px;
  border: 1px solid #dddddd;
  margin-bottom: 15px;
  box-sizing:border-box;
}
.login-form button {
  width: 100%;
  padding: 15px;
  border: 0;
  margin-top: 15px;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
}

.login-form button[id="login"] {
  background-color: #66f542;
  color: #000000;
}

.login-form button[id="SignUp"] {
  background-color: #535b63;
  color: #ffffff;
}
